.app_name {
  position:absolute;
  top: 1em;
  font-size: 80%;
}

.app_slogan {
  position:absolute;
  top: 30%;
  font-size: 100%;
  color:#FFFFFF;
  font-style:italic;
}

.trips {
  color:#0000FF;
}

.container {
  width: 90%;
  height: 18%;
  opacity: 100%;
}

#location_search {
  padding-top: 1em;
}

.trip_info {
  border-style: solid;
}

.trip_info_row {
  display: flex;
  justify-content: center;
}