<table class="table user-list">
  <thead>
    <tr>
    <th><span>User</span></th>
    <th class="text-center"><span>Status</span></th>
    <th><span>Email</span></th>
    <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'participations/list', collection: @participation_list %>
  </tbody>
</table>