<html>

  <head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  </head>


  <body>
      <%= render :partial => './layouts/nav' %>
      <img src="http://www.mastertvl.com/royalslider/images/group.jpg" style="width:100%" />
      <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small" style="bottom:10%;opacity:0.7;width:70%">
        <h2>
          <div class="app_name col-md-5">
            Looking for Group
          </div>
          <div class="app_slogan col-md-12 col-md-offset-2">
            "We want to connect people who don't have anyone to travel with"
          </div>
        </h2>
      </div>

    <div class="search container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Where to Next?</h2>
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input class="form-control input-lg" type="text" placeholder="Enter A Destination" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="Submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id='content'>
      <section class="groupedcontent container" id="featured-tours-from-g-homepage-canada">
        <header>
          <h2>
            Featured Trips
          </h2>
        </header>
        <div class="text">
          <p class="text-center">Stoke your wanderlust with these handpicked itineraries from our various hosts. Connecting those who don't have anyone to travel with. So, where to next?
          </p>
        </div>

        <div class="container featured-trips">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-block">
                  <div class="view overlay hm-white-slight">
                    <img src="https://media.gadventures.com/media-server/cache/da/7b/da7b225caef9847fa4b97b527d2e7867.jpg" class="img-fluid" alt="" />
                    <a href={"#"}>
                      <div class="mask waves-effect waves-light">
                      </div>
                    </a>
                  </div>
                  <div class="card-block">
                    <h4 class="card-title">Vancouver, BC</h4>
                    <div class="card-event">Balloon Ride</div>
                    <div class="card-host"> Host: John Doe </div>
                    <div class="card-date">12/23/2017 (3 days) </div>
                    <a href={"#"} class="btn btn-small">View this Trip</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">

              <div class="card">
                <div class="card-block">
                  <div class="view overlay hm-white-slight">
                    <img src="https://media.gadventures.com/media-server/cache/da/7b/da7b225caef9847fa4b97b527d2e7867.jpg" class="img-fluid" alt="" />
                    <a href={"#"}>
                      <div class="mask waves-effect waves-light">
                      </div>
                    </a>
                  </div>
                  <div class="card-block">
                    <h4 class="card-title">Vancouver, BC</h4>
                    <div class="card-event">Balloon Ride</div>
                    <div class="card-host"> Host: John Doe </div>
                    <div class="card-date">12/23/2017 (3 days) </div>
                    <a href={"#"} class="btn btn-small">View this Trip</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-block">
                  <div class="view overlay hm-white-slight">
                    <img src="https://media.gadventures.com/media-server/cache/da/7b/da7b225caef9847fa4b97b527d2e7867.jpg" class="img-fluid" alt="" />
                    <a href={"#"}>
                      <div class="mask waves-effect waves-light">
                      </div>
                    </a>
                  </div>
                  <div class="card-block">
                    <h4 class="card-title">Vancouver, BC</h4>
                    <div class="card-event">Balloon Ride</div>
                    <div class="card-host"> Host: John Doe </div>
                    <div class="card-date">12/23/2017 (3 days) </div>
                    <a href={"#"} class="btn btn-small">View this Trip</a>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card">
                <div class="card-block">
                  <div class="view overlay hm-white-slight">
                    <img src="https://media.gadventures.com/media-server/cache/da/7b/da7b225caef9847fa4b97b527d2e7867.jpg" class="img-fluid" alt="" />
                    <a href={"#"}>
                      <div class="mask waves-effect waves-light">
                      </div>
                    </a>
                  </div>
                  <div class="card-block">
                    <h4 class="card-title">Vancouver, BC</h4>
                    <div class="card-event">Balloon Ride</div>
                    <div class="card-host"> Host: John Doe </div>
                    <div class="card-date">12/23/2017 (3 days) </div>
                    <a href={"#"} class="btn btn-small">View this Trip</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-block">
                  <div class="view overlay hm-white-slight">
                    <img src="https://media.gadventures.com/media-server/cache/da/7b/da7b225caef9847fa4b97b527d2e7867.jpg" class="img-fluid" alt="" />
                    <a href={"#"}>
                      <div class="mask waves-effect waves-light">
                      </div>
                    </a>
                  </div>
                  <div class="card-block">
                    <h4 class="card-title">Vancouver, BC</h4>
                    <div class="card-event">Balloon Ride</div>
                    <div class="card-host"> Host: John Doe </div>
                    <div class="card-date">12/23/2017 (3 days) </div>
                    <a href={"#"} class="btn btn-small">View this Trip</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-block">
                  <div class="view overlay hm-white-slight">
                    <img src="https://media.gadventures.com/media-server/cache/da/7b/da7b225caef9847fa4b97b527d2e7867.jpg" class="img-fluid" alt="" />
                    <a href={"#"}>
                      <div class="mask waves-effect waves-light">
                      </div>
                    </a>
                  </div>
                  <div class="card-block">
                    <h4 class="card-title">Vancouver, BC</h4>
                    <div class="card-event">Balloon Ride</div>
                    <div class="card-host"> Host: John Doe </div>
                    <div class="card-date">12/23/2017 (3 days) </div>
                    <a href={"#"} class="btn btn-small">View this Trip</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>
    </div>
  </body>

</html>
