.left {
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    .schedule-save {
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
        button{
            font-size: 2em;
            border: none;
            border-radius: 0;
        }
    }
    #calendar {
        padding: 1.5em;
        h2 {
            color: #2F2F2F;
        }
        .closeon{
            float:right;
        }
    }
}

