.left {
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    .schedule-save{
        font-size: 2em;
        position: fixed;
        bottom: 0;
        left: 17em;
        z-index: 999;
    }
    #calendar {
        padding: 1.5em;
        h2 {
            color: #2F2F2F;
        }
        .closeon{
            float:right;
        }
    }
}

