.app_name {
  position:absolute;
  top: 1em;
  font-size: 80%;
}

.app_slogan {
  position:absolute;
  top: 40%;
  font-size: 100%;
  color:#FFFFFF;
  font-style:italic;
}

.trips {
  color:#0000FF;
}

.search {
  padding-bottom: 5em;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width:100%;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

// .container {
//   width:780px;
// }

img{
  width: 100%
}

.view-trip {
  color: #FFFFFF;
  background-color: #62e059;
  width: 6em;
  height: 4em;
  font-size: 50%;
  word-wrap: break-word;
}

.card-block {
  padding-bottom:1em;
}

.index-header {
  text-align: center;
}

hr {
  border-color: #bdbdbd;
}

.featured-container {
  display: none;
}

