
<!-- Panel -->
<article class="panel panel-default">
    <!-- Body -->
    <div class="panel-body">
        <%= schedule.destination %> At <time><%= schedule.date.to_formatted_s(:short) %></time>
    </div>
    <!-- /Body -->
</article>
<!-- /Panel -->
