
<!-- Panel -->
<article class="panel panel-default">
    <!-- Icon -->
    <div class="panel-heading icon">
        <i class="fa fa-suitcase"></i>
    </div>
    <!-- /Icon -->
    <!-- Heading -->
    <div class="panel-heading">
        <h2 class="panel-title"><strong><%= trip.name %></strong></h2>
    </div>
    <!-- /Heading -->
    <!-- Body -->
    <div class="panel-body">
        <%= trip.summary %>
    </div>
    <!-- /Body -->
    <!-- Footer -->
    <div class="panel-footer">
        <small><%= trip.kind %></small>
    </div>
    <!-- /Footer -->
</article>
<!-- /Panel -->
<!-- Separator -->
<div class="separator text-muted">
    Created At
    <time><%= trip.created_at.to_formatted_s(:short) %></time>
</div>
<!-- /Separator -->
