  <div id="trip-display" class="col-md-8 left">
    <!-- Page header -->
    <div class="page-header">
        <h2>My Trips
          <button id="new-trip" class="btn btn-success pull-right">Create New Trip</button>
        </h2>
    </div>
    <!-- /Page header -->
    <!-- Timeline -->
    <div id="trip-list" class="timeline">
      <div class="line text-muted"></div>

      <%= render @trips %>
    </div>
  </div>

  <div class="col-md-8 left form-schedule">
    <div class="page-header">
        <h2>New Schedule
          <i class="fa fa-arrow-left form-schedule-close pull-right"></i>
        </h2>
    </div>
    <%= render partial: "schedules/new" %>
  </div>

  <div id="schedule-display" class="col-md-4 right">
    <div class="page-header">
        <h2>My Schedules</h2>
    </div>
    &nbsp; Select a trip to begin.
  </div>

  <div class="col-md-4 right form-trip">
    <div class="page-header">
        <h2>New Trip</h2>
    </div>
    <%= render partial: "new" %>
  </div>


