<html>

  <head>
    <meta charset="UTF-8">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="animate.min.css"> -->
     <!-- <link rel="stylesheet" href="index.scss" type="text/css" /> -->
     <!-- <link rel="stylesheet" href="https://f.vimeocdn.com/p/2.55.5/css/player.css" type="text/css" /> -->
     <!-- <link rel="stylesheet" href="https://media.gadventures.com/media-server/static/_CACHE/css/6b374ffb4bb5.css" type="text/css" />
     <link rel="stylesheet" href="https://media.gadventures.com/media-server/static/_CACHE/css/46ae07d2688d.css" type="text/css" /> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  </head>

  <body>
      <img src="http://www.mastertvl.com/royalslider/images/group.jpg" style="width:100%" />
      <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small" style="bottom:10%;opacity:0.7;width:70%">
        <h2>
          <div class="app_name col-md-5">
            Looking for Group
          </div>
          <div class="app_slogan col-md-12 col-md-offset-2">
            "We want to connect people who don't have anyone to travel with"
          </div>
        </h2>
      </div>

    <div class="search container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Where to Next?</h2>
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input class="form-control input-lg" type="text" placeholder="Enter A Destination" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="Submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id='content'>
      <section class="groupedcontent container" id="featured-tours-from-g-homepage-canada">
        <header>
          <h2>
            Featured Trips
          </h2>
        </header>
        <div class="text">
          <p class="text-center">Stoke your wanderlust with these handpicked itineraries from our various hosts. Connecting those who don't have anyone to travel with. So, where to next?
          </p>
        </div>

        <div class="container featured-trips">
          <div class="row">

          </div>

        </div>

      </section>
    </div>

    <div class="cta">
      <a href="/search/" class="btn btn-large">View all tours</a>
    </div>

  </body>

</html>
