<html>

  <head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  </head>


  <body>
    <%= render :partial => './layouts/nav' %>
    <div class="container-fluid">
      <div class="col-md-8 left">
        <!-- Page header -->
        <div class="page-header">
            <h2>My Trips
              <button class="btn btn-success pull-right">Create New</button>
            </h2>
        </div>
        <!-- /Page header -->
        <!-- Timeline -->
        <div class="timeline">
          <div class="line text-muted"></div>

          <%= render @trips %>
        </div>
      </div>
      <div class="col-md-4 right">
        <div class="page-header">
            <h2>My Schedules</h2>
        </div>
        <%= render partial: "schedule", collection: @schedules %>
      </div>

      <div class="col-md-4 right">
        <%= render 'form', trip: @trip %>
      </div>
  </div>



  </body>

</html>
