<div id="react-root" data-id="<%= params[:id] %>"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH4bIlrAPDcVFlr3iKeYP0q0vmxIcrpaA&libraries=places"></script>
<script src="/assets/bundle.js"></script>